#holder1 {
    margin-top: 35%;
    width: 100px;
    background-color: red;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    align-self: center;
}

#holder2 {
    margin-top: 35%;
    width: 100px;
    background-color: green;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    align-self: center;
}

#holder3 {
    margin-top: 35%;
    width: 100px;
    background-color: blue;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    align-self: center;
}

.holder {
    margin-left: 20%;
    display: flex;
    height: 16em;
    justify-content: flex-start;
    align-items: center;
}

#holder1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#holder2:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#holder3:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
